# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
env/
venv/
ENV/
.venv/
.virtualenv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VS Code settings
.vscode/
*.code-workspace

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# Environment variables and secrets
.env
.env.*

# Logs
*.log
*.out
*.err

# pytest
.cache/

# Coverage reports
htmlcov/
.tox/
.nox/
.coverage
*.cover
coverage.xml
*.coveragerc

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre
.pyre/

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
junit-xml/
test-results/

# Dist and build folders
build/
dist/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Editable install
*.egg-info/

# PyCharm
.idea/
